name: Publish Package

on:
  push:
    tags:
      - v*.*.*

permissions:
  # Required for OIDC authentication to npm (https://docs.npmjs.com/trusted-publishers)
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: ./bun ci
      - name: Publish to npm
        run: ./bun x npm publish
  notify-publish:
    name: Notify Publish to Slack
    runs-on: ubuntu-latest
    needs: publish
    if: success()
    steps:
      - name: Set version
        id: version
        run: echo "number=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Post to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            unfurl_links: false
            unfurl_media: false
            text: "@tigerdata/mcp-boilerplate@${{ steps.version.outputs.number }} published to npm"
            blocks:
              - type: "markdown"
                text: |
                  **@tigerdata/mcp-boilerplate@${{ steps.version.outputs.number }} published to npm**
                  [workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) | [npm](https://www.npmjs.com/package/@tigerdata/mcp-boilerplate/v/${{ steps.version.outputs.number }})
